name: 'Test Nibbler'

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports: 
        - 5000:5000
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Add aspnet image to registry
        run: |
          docker pull mcr.microsoft.com/dotnet/aspnet:9.0
          docker tag mcr.microsoft.com/dotnet/aspnet:9.0 localhost:5000/dotnet/aspnet:9.0
          docker push localhost:5000/dotnet/aspnet:9.0 
          docker image rm localhost:5000/dotnet/aspnet:9.0

      - name: Add helloworld image to registry
        run: |
          docker pull hello-world:latest
          docker tag hello-world:latest localhost:5000/hello-world:latest
          docker push localhost:5000/hello-world:latest
          docker image rm localhost:5000/hello-world:latest

      - name: Setup Test Data
        run: |
          rm -rf tests/TestData
          mkdir tests/TestData
          dotnet new webapp -o tests/TestData
          dotnet new gitignore -o tests/TestData
          dotnet publish tests/TestData -o ./tests/TestData/publish
          curl -L https://mcr.microsoft.com/v2/dotnet/core/aspnet/blobs/sha256:9526604e089d8d4aa947f34e52a14ac8793232dd181022932f3c15291c5cd3af -o tests/TestData/test.tar.gz

      # build and run tests
      - run: dotnet restore
      - run: dotnet build --no-restore
      - run: dotnet test Nibbler.Test --no-build

      - run: dotnet tool install -g minver-cli
      - run: cd tests && chmod u+x test-e2e.sh && ./test-e2e.sh